*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
  background-color: #F2F2F2;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.row-limit-size {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2 {
  color: #323338;
  font-size: 1rem;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 1px;
  margin-left: 20px;
}

h3 {
  color: #323338;
  font-size: 1rem;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 1px;
}

.center-element {
  width: 90%;
  margin: 0 auto;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 20px;
  z-index: 10;
}

header#main-header {
  background-color: #F2F2F2;
}
header#main-header nav#main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
header#main-header nav#main-nav div#burger-menu {
  margin-right: auto;
}
header#main-header nav#main-nav div#burger-menu div.line {
  width: 30px;
  height: 3px;
  background-color: #323338;
  margin: 5px;
}
header#main-header nav#main-nav ul#nav-list {
  display: none;
}
header#main-header nav#main-nav p#title-logo {
  font-size: 0.9rem;
  font-weight: 700;
  color: #323338;
}
header#main-header nav#main-nav div#icon-search {
  width: 30px;
  height: 30px;
  background-color: #A1A2A4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

main section#section-popular {
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #E0EDF0;
}
main section#section-popular div#container-section-popular {
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 0;
}
main section#section-popular div#container-section-popular div.container-card {
  display: inline-block;
  margin-right: 16px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}
main section#section-popular div#container-section-popular div.container-card div#card-popular {
  width: 250px;
  height: 365px;
  -o-object-fit: cover;
     object-fit: cover;
}
main section#section-popular div#container-section-popular div.container-card div#card-popular img {
  width: 250px;
  height: 310px;
  border-radius: 8px;
}
main section#section-popular div#container-section-popular div.container-card div#card-popular h3#title-card-popular {
  text-overflow: ellipsis;
  overflow: hidden;
}
main section#section-popular div#container-section-popular div.container-card div#card-popular-info {
  background-color: #fff;
}
main section#section-popular div#container-section-popular div.container-card div#card-popular-info p#date-card-popular {
  font-size: 0.8rem;
  font-weight: 500;
  color: #A1A2A4;
  margin-bottom: 5px;
}
main section#section-action {
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 40px;
}
main section#section-action div#container-section-action {
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 0;
}
main section#section-action div#container-section-action div.container-card-action {
  display: inline-block;
  margin-right: 8px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}
main section#section-action div#container-section-action div.container-card-action div#card-action {
  width: 125px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
main section#section-action div#container-section-action div.container-card-action div#card-action img {
  width: 125px;
  height: 150px;
  border-radius: 8px;
}
main section#section-action div#container-section-action div.container-card-action div#card-action h3#title-card-action {
  text-overflow: ellipsis;
  overflow: hidden;
}
main section#section-action div#container-section-action div.container-card-action div#card-action-info {
  background-color: #fff;
}
main section#section-action div#container-section-action div.container-card-action div#card-action-info p#average-card-action {
  font-size: 0.8rem;
  font-weight: 500;
  color: #A1A2A4;
  margin-bottom: 5px;
}
main section#section-animation {
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 40px;
  margin-bottom: 60px;
}
main section#section-animation div#container-section-animation {
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 0;
}
main section#section-animation div#container-section-animation div.container-card-animation {
  display: inline-block;
  margin-right: 8px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}
main section#section-animation div#container-section-animation div.container-card-animation div#card-animation {
  width: 125px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
main section#section-animation div#container-section-animation div.container-card-animation div#card-animation img {
  width: 125px;
  height: 150px;
  border-radius: 8px;
}
main section#section-animation div#container-section-animation div.container-card-animation div#card-animation h3#title-card-animation {
  text-overflow: ellipsis;
  overflow: hidden;
}
main section#section-animation div#container-section-animation div.container-card-animation div#card-animation-info {
  background-color: #fff;
}
main section#section-animation div#container-section-animation div.container-card-animation div#card-animation-info p#average-card-animation {
  font-size: 0.8rem;
  font-weight: 500;
  color: #A1A2A4;
  margin-bottom: 5px;
}/*# sourceMappingURL=style.css.map */